* {
    margin: 0px;
    font-family: "Outfit";
}

:root {
    --white: hsl(0, 0%, 100%);

    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);

    --brown-800: hsl(14, 45%, 36%);

    --rose-50: hsl(330, 100%, 98%);
    --rose-800: hsl(332, 51%, 32%);
}

body {
    background-color: var(--stone-100);
}

.recipe-card-container {
    width: 668px;
    background-color: var(--white);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 36px;
}

.recipe-card-image {
    width: 100%;
    border-radius: 12px;
   margin-bottom: 32px;
}

.recipe-card-title {
    font-size: 40px;
    font-family: "Young Serif";
    margin-bottom: 20px;
    color: var(--stone-900);
}

.recipe-card-description {
    font-size: 16px;
    color: var(--stone-600);
    margin-bottom: 20px;
}

.preparation-time-container {
    background-color: var(--rose-50);
    padding: 24px;
    border-radius: 12px;
}

.preparation-time-container h3 {
    color: var(--rose-800);
    margin-bottom: 10px;
}

.preparation-time-container span {
    color: var(--stone-600);
    font-weight: 700;
}

.preparation-time-container li {
    color: var(--stone-600);
    margin-bottom: 10px;
}
/* clasa pentru subtitluri h2

.recipe-card-ingredients h2 {
    font-family: "Young Serif";
    color: var(--rose-800);
    margin-top: 20px;
    margin-bottom: 10px;
}
     */

.recipe-card-ingredients h2 {
    font-family: "Young Serif";
    color: var(--rose-800);
    margin-top: 20px;
    margin-bottom: 10px;
}

.recipe-card-ingredients li {
    color: var(--stone-600);
    margin-bottom: 10px;
}

.recipe-card-ingredients li:last-of-type {
    margin-bottom: 20px;
}

.recipe-card-instruction h2 {
    font-family: "Young Serif";
    color: var(--rose-800);
    margin-top: 20px;
    margin-bottom: 10px;
}

.recipe-card-instruction span {
    color: var(--stone-600);
    font-weight: 700;
}

.recipe-card-instruction li {
    color: var(--stone-600);
    margin-bottom: 10px;
}

.recipe-card-instruction li:last-of-type {
    margin-bottom: 20px;
}

.recipe-card-nutrition h2 {
    font-family: "Young Serif";
    color: var(--rose-800);
    margin-top: 20px;
    margin-bottom: 20px;
}

.recipe-card-nutrition span {
    color: var(--rose-800);
    font-weight: 700;
}

.recipe-card-nutrition p {
    color: var(--stone-600);
    margin-bottom: 12px;
} 

.recipe-card-nutrition td {
    color: var(--stone-600);
    margin-bottom: 12px;
}

/* --nutrition table-- */
.nutrition-table {
    width: 100%;
    border-collapse: collapse;
}

.nutrition-table tr {
    border-color: var(--stone-150);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.nutrition-table td {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
}

/* varianta 1 */
/* .nutrition-table nutrition-table-last-row { */
   border-bottom-width: 0px;
 */

/* varianta 2 */
#nutrition-table-last-row {
    border-top-width: 0px;
}

/* varinata 3 - e cel mai bine sa nu punem nimic (id sau clasa)
pe tr*/
.nutrition-table tr:last-of-type {
    border-bottom-width: 0px;
}